@page "/"
@inject IImageService _imageService

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.FindFirst("FullName")?.Value</h1>
        <p>Welcome to your new app.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Giriş yapmanız gerekiyor.</h1>
        <p>Lütfen önce login olun.</p>
    </NotAuthorized>
</AuthorizeView>