<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <IKitaplik.BlazorUI.Components.Pages.Auth.AccessDenied></IKitaplik.BlazorUI.Components.Pages.Auth.AccessDenied>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Sayfa bulunamadı.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
