@{
    Layout = "_Layout";
}
@model Book

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"]">
        @TempData["Message"]
    </div>
}

<form action="Update" method="post" class="container mt-5">
    <input type="hidden" asp-for="Id" name="Id"/>
    <div class="row mb-3">
        <div class="col">
            <label for="barcode" class="form-label">Barkod</label>
            <input asp-for="Barcode" type="text" class="form-control" id="barcode" name="Barcode" placeholder="Kitap barkodunu girin" required>
        </div>
        <div class="col">
            <label for="name" class="form-label">Kitap Adı</label>
            <input asp-for="Name" type="text" class="form-control" id="name" name="Name" placeholder="Kitap adını girin" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="writer" class="form-label">Yazar</label>
            <input asp-for="Writer" type="text" class="form-control" id="writer" name="Writer" placeholder="Yazar adını girin" required>
        </div>
        <div class="col">
            <label for="category" class="form-label">Kategori</label>
            <select asp-items="ViewBag.Categories" asp-for="CategoryId" class="form-select" id="category" name="CategoryId" required>
                <option selected disabled>Kategori seçin</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="shelfNo" class="form-label">Raf Numarası</label>
            <input asp-for="ShelfNo" type="text" class="form-control" id="shelfNo" name="ShelfNo" placeholder="Raf numarasını girin" required>
        </div>
        <div class="col">
            <label for="piece" class="form-label">Adet</label>
            <input asp-for="Piece" type="number" class="form-control" id="piece" name="Piece" placeholder="Adet sayısını girin" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="situation" class="form-label">Durum</label>
            <select asp-for="Situation" class="form-select" id="situation" name="Situation" required>
                <option value="true">Aktif</option>
                <option value="false">Pasif</option>
            </select>
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>
</form>