@using IKitaplik.Entities.DTOs.StudentDTOs
@inject IStudentService _studentService

<MudDialog>
    <DialogContent>
        <p class="text-danger">Eğer kitap bağış değilse alanları boş bırakabilirsiniz</p>
        <MudAutocomplete T="StudentAutocompleteDto" 
                         SearchFunc="SearchStudent"
                         Label="Bağışçı"
                         Variant="Variant.Outlined"
                         @bind-Value="SelectedStudent"
                         Clearable="true"
                         ResetValueOnEmptyText="true"
                         CoerceText="false"
                         AdornmentIcon="@Icons.Material.Filled.Search"
                         ToStringFunc="@(e => e==null?null : $"{e.Name} - {e.StudentNumber}")">
        </MudAutocomplete>
        <MudDatePicker Date="DonationAddDto.Date"
                       DateChanged="@(val => DonationAddDto.Date = val ?? DateTime.Now)"
                       Variant="Variant.Outlined"
                       Label="Bağış Tarihi">
        </MudDatePicker>
        <MudCheckBox @bind-Value="DonationAddDto.IsItDamaged" Label="Hasarlımı"></MudCheckBox>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" OnClick="Cancel">Vazgeç</MudButton>
        <MudButton Color="Color.Info" OnClick="Select">Ekle</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    IMudDialogInstance Dialog { get; set; }
    public StudentAutocompleteDto? SelectedStudent { get; set; }

    public DonationAddDto DonationAddDto { get; set; } = new();

    private void Select()
    {
        DonationAddDto.StudentId = SelectedStudent?.Id ?? 0;
        Dialog.Close(DialogResult.Ok(DonationAddDto));
    }
    private void Cancel()
    {
        Dialog.Cancel();
    }

    protected override void OnParametersSet()
    {
        DonationAddDto.Date = DateTime.Now;
        DonationAddDto.IsItDamaged = false;
    }

    private async Task<IEnumerable<StudentAutocompleteDto>> SearchStudent(string val, CancellationToken e)
    {
        if (string.IsNullOrEmpty(val))
            return new List<StudentAutocompleteDto>();
            
        var res = await _studentService.SearchStudentsAsync(val);
        if (res.Success)
        {
            return res.Data;
        }
        return new List<StudentAutocompleteDto>();
    }
}
